/**
 * The file contains styles for GWT widgets in the chrome theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */
 

@url hborderUrl hborderUrl;
@url hborderIe6Url hborderIe6Url;
@url vborderUrl vborderUrl;
@url vborderIe6Url vborderIe6Url;
@url cornerUrl cornerUrl;
@url cornerIe6Url cornerIe6Url;
@url splitPanelThumb splitPanelThumb;

body, table td, select {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: 17px;
}


pre {
  font-family: "courier new", courier;
  font-size: 17px;
}


body {
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;
}

a, a:visited, a:hover {
  color: #0000AA;
}

@external .gwt-Button;
.gwt-Button {
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  cursor: hand;
  background: hborderUrl repeat-x 0px -27px;
  border: 1px outset #ccc;
}

.gwt-Button:active {
  border: 1px inset #ccc;
}
.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}
.gwt-Button[disabled] {
  cursor: default;
  color: #888;
}

.gwt-Button[disabled]:hover {
  border: 1px outset #ccc;
}

@external .gwt-CheckBox;
.gwt-CheckBox {
}

@external .gwt-CheckBox-disabled;
.gwt-CheckBox-disabled {
  color: #888;
}

@external .gwt-DecoratorPanel;
.gwt-DecoratorPanel {
}

@external .topCenter .bottomCenter;
.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter {
  background: hborderUrl repeat-x;
}

@external .middleLeft .middleRight;
.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight {
  background: vborderUrl repeat-y;
}

@external .topLeftInner .topRightInner .bottomLeftInner .bottomRightInner;
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}

@external .topLeft;
.gwt-DecoratorPanel .topLeft {
  background: cornerUrl no-repeat 0px 0px;
  -background: cornerIe6Url no-repeat 0px 0px;
}

@external .topRight;
.gwt-DecoratorPanel .topRight {
  background: cornerUrl no-repeat -5px 0px;
  -background: cornerIe6Url no-repeat -5px 0px;
}

@external .bottomLeft;
.gwt-DecoratorPanel .bottomLeft {
  background: cornerUrl no-repeat 0px -5px;
  -background: cornerIe6Url no-repeat 0px -5px;
}

@external .bottomRight;
.gwt-DecoratorPanel .bottomRight {
  background: cornerUrl no-repeat -5px -5px;
  -background: cornerIe6Url no-repeat -5px -5px;
}

@external .topLeftInner .topRightInner .bottomLeftInner .bottomRightInner;
* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

@external .gwt-DialogBox;
.gwt-DialogBox {
  width: 400px;
}

@external .Caption;
.gwt-DialogBox .Caption {
  background: #ebebeb hborderUrl repeat-x 0px -2003px;
  padding: 4px 4px 4px 8px;
  cursor: default;
  border-bottom: 1px solid #bbbbbb;
  border-top: 5px solid #e3e3e3;
}

@external .dialogContent;
.gwt-DialogBox .dialogContent {
}

@external .dialogMiddleCenter;
.gwt-DialogBox .dialogMiddleCenter {
  padding: 3px;
  background: white;
}

@external .dialogBottomCenter;
.gwt-DialogBox .dialogBottomCenter {
  background: hborderUrl repeat-x 0px -4px;
  -background: hborderIe6Url repeat-x 0px -4px;
}

@external .dialogMiddleLeft;
.gwt-DialogBox .dialogMiddleLeft {
  background: vborderUrl repeat-y;
}

@external .dialogMiddleRight;
.gwt-DialogBox .dialogMiddleRight {
  background: vborderUrl repeat-y -4px 0px;
  -background: vborderIe6Url repeat-y -4px 0px;
}

@external .dialogTopLeftInner;
.gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  zoom: 1;
}

@external .dialogTopRightInner;
.gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  zoom: 1;
}

@external .dialogBottomLeftInner;
.gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

@external .dialogBottomRightInner;
.gwt-DialogBox .dialogBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

@external .dialogTopLeft;
.gwt-DialogBox .dialogTopLeft {
  background: cornerUrl no-repeat -13px 0px;
  -background: cornerIe6Url no-repeat -13px 0px;
}

@external .dialogTopRight;
.gwt-DialogBox .dialogTopRight {
  background: cornerUrl no-repeat -18px 0px;
  -background: cornerIe6Url no-repeat -18px 0px;
}

@external .dialogBottomLeft;
.gwt-DialogBox .dialogBottomLeft {
  background: cornerUrl no-repeat 0px -15px;
  -background: cornerIe6Url no-repeat 0px -15px;
}

@external .dialogBottomRight;
.gwt-DialogBox .dialogBottomRight {
  background: cornerUrl no-repeat -5px -15px;
  -background: cornerIe6Url no-repeat -5px -15px;
}

@external .dialogTopLeftInner;
* html .gwt-DialogBox .dialogTopLeftInner {
  width: 5px;
  overflow: hidden;
}

@external .dialogTopRightInner;
* html .gwt-DialogBox .dialogTopRightInner {
  width: 8px;
  overflow: hidden;
}

@external .dialogBottomLeftInner;
* html .gwt-DialogBox .dialogBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}

@external .dialogBottomRightInner;
* html .gwt-DialogBox .dialogBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

@external .gwt-DisclosurePanel;
.gwt-DisclosurePanel {
}

@external .gwt-DisclosurePanel-open;
.gwt-DisclosurePanel-open {
}

@external .gwt-DisclosurePanel-closed;
.gwt-DisclosurePanel-closed {
}

.gwt-DisclosurePanel .header,
.gwt-DisclosurePanel .header a,
.gwt-DisclosurePanel .header td {
  text-decoration: none;
  color: black; 
  cursor: pointer;
  cursor: hand;
}

@external .content;
.gwt-DisclosurePanel .content {
  border-left: 3px solid #e3e3e3;
  padding: 4px 0px 4px 8px;
  margin-left: 6px;
}

@external .gwt-FileUpload;
.gwt-FileUpload {
}

@external .gwt-Frame;
.gwt-Frame {
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

@external .gwt-HorizontalSplitPanel;
.gwt-HorizontalSplitPanel {
}

@external .hsplitter;
.gwt-HorizontalSplitPanel .hsplitter {
  cursor: move;
  border: 0px; 
  background: #91c0ef vborderUrl repeat-y;
  line-height: 0px;
}

@external .gwt-VerticalSplitPanel;
.gwt-VerticalSplitPanel {
}

@external .vsplitter;
.gwt-VerticalSplitPanel .vsplitter {
  cursor: move;
  border: 0px; 
  background: #91c0ef hborderUrl repeat-x;
  line-height: 0px;
}

@external .gwt-HTML;
.gwt-HTML {
}

@external .gwt-Hyperlink;
.gwt-Hyperlink {
}

@external .gwt-Image;
.gwt-Image {
}

@external .gwt-Label;
.gwt-Label {
}

@external .gwt-ListBox;
.gwt-ListBox {
}

.gwt-MenuBar {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem {
  cursor: default;
}
.gwt-MenuBar .gwt-MenuItem-selected {
  background: #cdcdcd;
}
.gwt-MenuBar .gwt-MenuItem-disabled {
  color: #cdcdcd;
}


.gwt-MenuBar-horizontal {
  background: #ebebeb hborderUrl repeat-x 0px -2003px;
  border: 1px solid #BBBBBB;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
  padding: 0px 10px;
  vertical-align: bottom;
  color: #666666;
  font-weight: bold;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
  width: 1px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-left: 1px solid #888888;
  background: white;
}
.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
  width: 1px;
  height: 1px;
  background: white; 
}
.gwt-MenuBar-vertical {
  margin-top: 0px;
  margin-left: 0px;
  background: white;
}
.gwt-MenuBar-vertical table {
  border-collapse: collapse;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
  padding: 4px 14px 4px 1px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
  padding: 2px 0px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
  height: 1px;
  padding: 0px;
  border: 0px;
  border-top: 1px solid #777777;
  background: #ddddee;
  overflow: hidden;
}
.gwt-MenuBar-vertical .subMenuIcon {
  padding-right: 4px;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #cdcdcd;
}
.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
}


.gwt-MenuBarPopup .menuPopupTopCenter {
  background: hborderUrl 0px -12px repeat-x;
}


.gwt-MenuBarPopup .menuPopupBottomCenter {
  background: hborderUrl 0px -13px repeat-x;
  -background: hborderIe6Url 0px -13px repeat-x;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
  background: vborderUrl -12px 0px repeat-y;
  -background: vborderIe6Url -12px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
  background: vborderUrl -13px 0px repeat-y;
  -background: vborderIe6Url -13px 0px repeat-y;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
  background: cornerUrl no-repeat 0px -36px;
  -background: cornerIe6Url no-repeat 0px -36px;
}
.gwt-MenuBarPopup .menuPopupTopRight {
  background: cornerUrl no-repeat -5px -36px;
  -background: cornerIe6Url no-repeat -5px -36px;
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
  background: cornerUrl no-repeat 0px -41px;
  -background: cornerIe6Url no-repeat 0px -41px;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
  background: cornerUrl no-repeat -5px -41px;
  -background: cornerIe6Url no-repeat -5px -41px;
}
* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

@external .gwt-PasswordTextBox;
.gwt-PasswordTextBox {
  padding: 2px;
  font-size: 17px;
}

@external .gwt-PasswordTextBox-readonly;
.gwt-PasswordTextBox-readonly {
  color: #888;
}

@external .gwt-PopupPanel;
.gwt-PopupPanel {
  border: 3px solid #e3e3e3;
  padding: 3px;
  background: white;
}

@external .popupContent;
.gwt-DecoratedPopupPanel .popupContent {
}

@external .popupMiddleCenter;
.gwt-DecoratedPopupPanel .popupMiddleCenter {
  padding: 3px;
  background: #e3e3e3;
}

@external .popupTopCenter;
.gwt-DecoratedPopupPanel .popupTopCenter {
  background: hborderUrl repeat-x;
}

@external .popupBottomCenter;
.gwt-DecoratedPopupPanel .popupBottomCenter {
  background: hborderUrl repeat-x 0px -4px;
  -background: hborderIe6Url repeat-x 0px -4px;
}

@external .popupMiddleLeft;
.gwt-DecoratedPopupPanel .popupMiddleLeft {
  background: vborderUrl repeat-y;
}

@external .popupMiddleRight;
.gwt-DecoratedPopupPanel .popupMiddleRight {
  background: vborderUrl repeat-y -4px 0px;
  -background: vborderIe6Url repeat-y -4px 0px;
}

@external .popupTopLeftInner;
.gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}

@external .popupTopRightInner;
.gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}

@external .popupBottomLeftInner;
.gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

@external .popupBottomRightInner;
.gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}

@external .popupTopLeft;
.gwt-DecoratedPopupPanel .popupTopLeft {
  background: cornerUrl no-repeat 0px -10px;
  -background: cornerIe6Url no-repeat 0px -10px;
}

@external .popupTopRight;
.gwt-DecoratedPopupPanel .popupTopRight {
  background: cornerUrl no-repeat -5px -10px;
  -background: cornerIe6Url no-repeat -5px -10px;
}

@external .popupBottomLeft;
.gwt-DecoratedPopupPanel .popupBottomLeft {
  background: cornerUrl no-repeat 0px -15px;
  -background: cornerIe6Url no-repeat 0px -15px;
}

@external .popupBottomRight;
.gwt-DecoratedPopupPanel .popupBottomRight {
  background: cornerUrl no-repeat -5px -15px;
  -background: cornerIe6Url no-repeat -5px -15px;
}

@external .popupTopLeftInner;
* html .gwt-DecoratedPopupPanel .popupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

@external .popupTopRightInner;
* html .gwt-DecoratedPopupPanel .popupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}

@external .popupBottomLeftInner;
* html .gwt-DecoratedPopupPanel .popupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}

@external .popupBottomRightInner;
* html .gwt-DecoratedPopupPanel .popupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

@external .gwt-PopupPanelGlass;
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

@external .gwt-PushButton-up .gwt-PushButton-up-hovering .gwt-PushButton-up-disabled .gwt-PushButton-down .gwt-PushButton-down-hovering .gwt-PushButton-down-disabled;
.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: hborderUrl repeat-x 0px -27px;
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-PushButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-PushButton-down {
  border: 1px inset #666;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-hovering {
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-PushButton-down-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=40);
  zoom: 1;
}

@external .gwt-RadioButton;
.gwt-RadioButton {
}

@external .gwt-RadioButton-disabled;
.gwt-RadioButton-disabled {
  color: #888;
}

@external .gwt-RichTextArea;
.gwt-RichTextArea {
	font-size: 17px;
}

@external .hasRichTextToolbar;
.hasRichTextToolbar {
  border: 0px;
}


@external .gwt-RichTextToolbar;
.gwt-RichTextToolbar {
  background: #ebebeb hborderUrl repeat-x 0px -2003px;
  border-bottom: 1px solid #BBBBBB;
  padding: 3px;
  margin: 0px;
}

@external .gwt-PushButton-up;
.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}

@external .gwt-PushButton-up-hovering;
.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}

@external .gwt-PushButton-down;
.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

@external .gwt-PushButton-down-hovering;
.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}

@external .gwt-ToggleButton-up;
.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

@external .gwt-ToggleButton-up-hovering;
.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}

@external .gwt-ToggleButton-down;
.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

@external .gwt-ToggleButton-down-hovering;
.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}

@external .gwt-StackPanel;
.gwt-StackPanel {
  border-bottom: 1px solid #bbbbbb;
}

@external .gwt-StackPanel;
.gwt-StackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
  font-weight: bold;
  font-size: 1.0em;
  padding: 3px;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: #d3def6 hborderUrl repeat-x 0px -989px;
}

@external .gwt-StackPanelContent;
.gwt-StackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

@external .gwt-DecoratedStackPanel;
.gwt-DecoratedStackPanel {
  border-bottom: 1px solid #bbbbbb;
}

@external .gwt-StackPanelContent;
.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

@external .gwt-StackPanelItem;
.gwt-DecoratedStackPanel .gwt-StackPanelItem {
  cursor: pointer;
  cursor: hand;
}


@external .stackItemTopLeft .stackItemTopRight;
.gwt-DecoratedStackPanel .stackItemTopLeft,
.gwt-DecoratedStackPanel .stackItemTopRight {
  height: 6px;
  width: 6px;
  zoom: 1;
}

.gwt-DecoratedStackPanel .stackItemTopLeft {
  border-left: 1px solid #bbbbbb;
  background: #e4e4e4 cornerUrl no-repeat 0px -49px;
  -background: #e4e4e4 cornerIe6Url no-repeat 0px -49px;
}

.gwt-DecoratedStackPanel .stackItemTopRight {
  border-right: 1px solid #bbbbbb;
  background: #e4e4e4 cornerUrl no-repeat -6px -49px;
  -background: #e4e4e4 cornerIe6Url no-repeat -6px -49px;
}

@external .stackItemTopLeftInner .stackItemTopRightInner;
.gwt-DecoratedStackPanel .stackItemTopLeftInner,
.gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 1px;
  height: 1px;
}

* html .gwt-DecoratedStackPanel .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

@external .stackItemTopCenter;
.gwt-DecoratedStackPanel .stackItemTopCenter {
  background: hborderUrl 0px -21px repeat-x;
}

@external .stackItemMiddleLeft;
.gwt-DecoratedStackPanel .stackItemMiddleLeft {
  background: #d3def6 hborderUrl repeat-x 0px -989px;
  border-left: 1px solid #bbbbbb;
}

@external .stackItemMiddleLeftInner .stackItemMiddleRightInner;
.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,
.gwt-DecoratedStackPanel .stackItemMiddleRightInner {
  width: 1px;
  height: 1px;
}

@external .stackItemMiddleRight;
.gwt-DecoratedStackPanel .stackItemMiddleRight {
  background: #d3def6 hborderUrl repeat-x 0px -989px;
  border-right: 1px solid #bbbbbb;
}

@external .stackItemMiddleCenter;
.gwt-DecoratedStackPanel .stackItemMiddleCenter {
  font-weight: bold;
  font-size: 1.0em;
  background: #d3def6 hborderUrl repeat-x 0px -989px;
}

@external .stackItemTopRight .stackItemTopLeft;
.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,
.gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft {
  border: 0px;
  background-color: white;
}
 
.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,
.gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight {
  background-color: white;
}

@external .gwt-SuggestBox;
.gwt-SuggestBox {
  padding: 2px;
}

@external .gwt-SuggestBoxPopup;
.gwt-SuggestBoxPopup {
  margin-left: 3px;
}

@external .item;
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}

@external .item-selected;
.gwt-SuggestBoxPopup .item-selected {
  background: #cdcdcd;
}

@external .suggestPopupContent; 
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}

@external .suggestPopupTopCenter;
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: hborderUrl repeat-x;
}

@external .suggestPopupBottomCenter;
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: hborderUrl repeat-x 0px -4px;
  -background: hborderIe6Url repeat-x 0px -4px;
}

@external .suggestPopupMiddleLeft;
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: vborderUrl repeat-y;
}

@external .suggestPopupMiddleRight;
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: vborderUrl repeat-y -4px 0px;
  -background: vborderIe6Url repeat-y -4px 0px;
}

@external .suggestPopupTopLeftInner;
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;  
}

@external .suggestPopupTopRightInner;
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}

@external .suggestPopupBottomLeftInner;
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}

@external .suggestPopupBottomRightInner;
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}

@external .suggestPopupTopLeft;
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: cornerUrl no-repeat 0px -23px;
  -background: cornerIe6Url no-repeat 0px -23px;
}

@external .suggestPopupTopRight;
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: cornerUrl no-repeat -5px -23px;
  -background: cornerIe6Url no-repeat -5px -23px;
}

@external .suggestPopupBottomLeft;
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: cornerUrl no-repeat 0px -28px;
  -background: cornerIe6Url no-repeat 0px -28px;
}

external .suggestPopupBottomRight;
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: cornerUrl no-repeat -5px -28px;
  -background: cornerIe6Url no-repeat -5px -28px;
}

@external .suggestPopupTopLeftInner;
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

@external .suggestPopupTopRightInner;
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}

@external .suggestPopupBottomLeftInner;
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}

@external .suggestPopupBottomRightInner;
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

@external .gwt-TabBar;
.gwt-TabBar {
}

@external .gwt-TabBarFirst;
.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  first tab distance from the left
}

@external .gwt-TabBarRest;
.gwt-TabBar .gwt-TabBarRest {
}

@external .gwt-TabBarItem;
.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #e3e3e3;
}

@external .gwt-TabBarItem-selected;
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #bcbcbc;
}

@external .gwt-TabBarItem-disabled;
.gwt-TabBar .gwt-TabBarItem-disabled {
  cursor: default;
  color: #999999;
}

@external .gwt-TabPanel;
.gwt-TabPanel {
}

@external .gwt-TabPanelBottom;
.gwt-TabPanelBottom {
  border-color: #bcbcbc;
  border-style: solid;
  border-width: 3px 2px 2px;
  overflow: hidden;
  padding: 6px;
}

@external .gwt-DecoratedTabBar;
.gwt-DecoratedTabBar {
}

@external .gwt-TabBarFirst;
.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  first tab distance from the left
}

@external .gwt-TabBarRest;
.gwt-DecoratedTabBar .gwt-TabBarRest {
}

@external .gwt-TabBarItem;
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}

@external .tabTopCenter;
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #e3e3e3;
}

@external .tabTopLeft .tabTopRight;
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}

@external .tabTopLeftInner, .tabTopRightInner;
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}

@external .tabTopLeft; 
.gwt-DecoratedTabBar .tabTopLeft {
  background: cornerUrl no-repeat 0px -55px;
  -background: cornerIe6Url no-repeat 0px -55px;
}

@external .tabTopRight;
.gwt-DecoratedTabBar .tabTopRight {
  background: cornerUrl no-repeat -6px -55px;
  -background: cornerIe6Url no-repeat -6px -55px;
}

@external .tabTopLeftInner .tabTopRightInner;
* html .gwt-DecoratedTabBar .tabTopLeftInner,
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
  overflow: hidden;
}

@external .tabMiddleLeft .tabMiddleRight;
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #e3e3e3 hborderUrl repeat-x 0px -1463px;
}

@external .tabMiddleLeftInner .tabMiddleRightInner;
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}

@external .tabMiddleCenter;
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #e3e3e3 hborderUrl repeat-x 0px -1463px;
}

@external .tabTopCenter;
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #747474;
}

@external .tabTopLeft;
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}

@external .tabTopRight;
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}

@external .tabMiddleLeft, .tabMiddleRight;
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #bcbcbc hborderUrl repeat-x 0px -2511px;
}

@external .tabMiddleCenter;
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #bcbcbc hborderUrl repeat-x 0px -2511px;
  color: white;
}

@external .tabMiddleCenter;
.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}

@external .gwt-TextArea;
.gwt-TextArea {
  padding: 2px;
  font-size: 17px;
}

@external .gwt-TextArea-readonly;
.gwt-TextArea-readonly {
  color: #888;
  font-size: 17px;
}

@external .gwt-TextBox;
.gwt-TextBox {
  padding: 2px;
  font-size: 17px;
}

@external .gwt-TextBox-readonly;
.gwt-TextBox-readonly {
  color: #888;
}

@external .gwt-ToggleButton-up .gwt-ToggleButton-up-hovering .gwt-ToggleButton-up-disabled .gwt-ToggleButton-down .gwt-ToggleButton-down-hovering .gwt-ToggleButton-down-disabled;
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: hborderUrl repeat-x 0px -27px;
}
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}

@external .gwt-TreeItem;
.gwt-Tree .gwt-TreeItem {
  padding: 1px 0px;
  margin: 0px;
  white-space: nowrap;
  cursor: hand;
  cursor: pointer;
}

@external .gwt-TreeItem-selected;
.gwt-Tree .gwt-TreeItem-selected {
  background: #93c2f1 hborderUrl repeat-x 0px -1463px;
}

.gwt-TreeItem .gwt-RadioButton input,
.gwt-TreeItem .gwt-CheckBox input {
  margin-left: 0px;
}
* html .gwt-TreeItem .gwt-RadioButton input,
* html .gwt-TreeItem .gwt-CheckBox input {
  margin-left: -4px;
}

.gwt-DateBox input {
  width: 8em;
}

@external .dateBoxFormatError;
.dateBoxFormatError {
  background: #eed6d6;
}

@external .dateBoxPopup;
.dateBoxPopup {
}

@external .gwt-DatePicker;
.gwt-DatePicker {
  border: 1px solid #888;
  cursor: default;
}

.gwt-DatePicker td,
.datePickerMonthSelector td:focus {
  outline: none
}

@external .datePickerDays;
.datePickerDays {
  width: 100%;
  background: white;
}

@external .datePickerDay .datePickerWeekdayLabel .datePickerWeekendLabel;
.datePickerDay,
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  font-size: 75%;
  text-align: center;
  padding: 4px;
  outline: none;
}

@external .datePickerWeekdayLabel .datePickerWeekendLabel;
.datePickerWeekdayLabel,
.datePickerWeekendLabel {
  background: #c1c1c1;
  padding: 0px 4px 2px;
  cursor: default;
}

@external .datePickerDay;
.datePickerDay {
  padding: 4px;
  cursor: hand;
  cursor: pointer;
}

@external .datePickerDayIsToday;
.datePickerDayIsToday {
  border: 1px solid black;
  padding: 3px;
}

@external .datePickerDayIsWeekend;
.datePickerDayIsWeekend {
  background: #EEEEEE;
}

@external .datePickerDayIsFiller;
.datePickerDayIsFiller {
  color: #888888;
}

@external .datePickerDayIsValue;
.datePickerDayIsValue {
  background: #abf;
}

@external .datePickerDayIsDisabled;
.datePickerDayIsDisabled {
  color: #AAAAAA;
  font-style: italic;
}

@external .datePickerDayIsHighlighted;
.datePickerDayIsHighlighted {
  background: #dde;
}

@external .datePickerDayIsValueAndHighlighted;
.datePickerDayIsValueAndHighlighted {
  background: #ccf;
}

@external .datePickerMonthSelector;
.datePickerMonthSelector {
  background: #c1c1c1;
  width: 100%;
}

td.datePickerMonth {
  text-align: center;
  vertical-align: center;
  white-space: nowrap;
  font-size: 70%;
  font-weight: bold;
}

@external .datePickerPreviousButton .datePickerNextButton;
.datePickerPreviousButton,
.datePickerNextButton {
  font-size: 120%;
  line-height: 1em;
  cursor: hand;
  cursor: pointer;
  padding: 0px 4px;
}

@external .gwt-StackLayoutPanel;
.gwt-StackLayoutPanel {
  border-bottom: 1px solid #bbbbbb;
}

@external .gwt-StackLayoutPanelHeader;
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
  cursor: pointer;
  cursor: hand;
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: #d3def6 hborderUrl repeat-x 0px -989px;

  font-weight: bold;
  font-size: 1.0em;
  padding: 3px;
  text-align: center;
}

@external .gwt-StackLayoutPanelHeader-hovering;
.gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader-hovering {
  background: #d3def6 hborderUrl repeat-x 0px -1464px;
}

@external .gwt-StackLayoutPanelContent;
.gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}

@external .gwt-TabLayoutPanel;
.gwt-TabLayoutPanel {
}

@external .gwt-TabLayoutPanelTabs;
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
}

@external .gwt-TabLayoutPanelContentContainer;
.gwt-TabLayoutPanelContentContainer {
  border-color: #bcbcbc;
  border-style: solid;
  border-width: 2px 1px 1px;
}

@external .gwt-TabLayoutPanelContent;
.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
  border-color: #bcbcbc;
  border-style: solid;
  border-width: 1px;
  overflow: hidden;
  padding: 6px;
}

@external .gwt-TabLayoutPanelTab;
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #e3e3e3;
}

@external .gwt-TabLayoutPanelTab-selected;
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
  cursor: default;
  background: #bcbcbc;
}

@external .gwt-SplitLayoutPanel-HDragger;
.gwt-SplitLayoutPanel-HDragger {
  background: white splitPanelThumb center center no-repeat;
  cursor: col-resize;
}

@external .gwt-SplitLayoutPanel-VDragger;
.gwt-SplitLayoutPanel-VDragger {
  background: white splitPanelThumb center center no-repeat;
  cursor: row-resize;
}

@external .ao-TranscriptMe;
.ao-TranscriptMe {
	color: #990033;
}

@external .ao-TranscriptOther;
.ao-TranscriptOther {
	color: #003399;
}

@external .ao-TranscriptSystem;
.ao-TranscriptSystem {
	color: 	#669966;
}